This is under the assumption that SK_ID_CURR ids are time-based - that is, a loan with SK_ID_CURR of 100043 must have taken place after SK_ID_CURR 10002.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# This can be substituted for any cleaned/feature engineered data frame
df = pd.read_csv('../rory_work/application_train.csv')

In [ ]:
def sorted_split(data, sort_col, train_size, ascending=True):
    # Sorts data along sort_col, then splits it,
    # placing train_size in the train set and 1-train_size in the test split
    # Returns both the train and test splits
    data.sort_values(sort_col, ascending=ascending)
    split = int(np.floor(data.shape[0] * train_size))
    train = data.iloc[:split, :]
    test = data.iloc[split:, :]
    
    return train, test

In [ ]:
train, test = sorted_split(df, "SK_ID_CURR", 0.8)

In [ ]:
train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246003,384688,0,Revolving loans,F,Y,Y,0,180000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246004,384690,0,Cash loans,F,N,Y,0,81000.0,311877.0,17046.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
246005,384691,0,Cash loans,M,Y,Y,2,270000.0,254700.0,25321.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
246006,384693,0,Cash loans,M,Y,N,2,225000.0,177903.0,16447.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
246007,384694,0,Cash loans,F,Y,Y,1,234000.0,599778.0,30753.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0

In [ ]:
test

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
246008,384696,0,Cash loans,F,N,Y,1,180000.0,545040.0,36553.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246009,384697,0,Cash loans,F,Y,Y,1,337500.0,790830.0,62613.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246010,384698,1,Cash loans,F,N,Y,1,63000.0,310500.0,15232.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
246011,384699,0,Cash loans,F,N,N,0,112500.0,942300.0,36643.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
246012,384700,0,Cash loans,F,Y,Y,0,180000.0,272520.0,19957.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0